<div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="calendarCtrl.viewDate"
          decrement="calendarCtrl.calendarView"
          ng-click="calendarCtrl.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="calendarCtrl.viewDate"
          set-to-today
          ng-click="calendarCtrl.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="calendarCtrl.viewDate"
          increment="calendarCtrl.calendarView"
          ng-click="calendarCtrl.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <!--<div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
      </div>
    </div>-->

  </div>

  <br>

<mwl-calendar
    view="calendarCtrl.calendarView"
    view-date="calendarCtrl.viewDate"
    events="calendarCtrl.events"
    view-title="calendarCtrl.calendarTitle"
    on-event-click="calendarCtrl.eventClicked(calendarEvent)"
    on-event-times-changed="calendarCtrl.calendarEvent.startsAt = calendarCtrl.calendarNewEventStart; calendarCtrl.calendarEvent.endsAt = calendarCtrl.calendarNewEventEnd"
    cell-is-open="true">
</mwl-calendar>
<br><br><br>
<button
      class="btn btn-primary pull-right"
      ng-click="calendarCtrl.addEvent()">
      Add new
    </button>
<div ng-show="calendarCtrl.activeEvent != undefined">
  <h3 id="event-editor">
    Edit events
    
    <div class="clearfix"></div>
  </h3>

  <table id="table" class="table table-bordered">

    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Promotion</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Save</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-if="calendarCtrl.activeEvent.editable == true">
          <td>
            <input
              type="text"
              class="form-control"
              ng-model="calendarCtrl.activeEvent.title">
          </td>
          <td>
            <input class="form-control" colorpicker type="text" ng-model="calendarCtrl.activeEvent.color.primary">
          </td>
          <td>
            <div class="form-group">
              <label for="percentage">Promotion Percentage:</label>
              <input type="number" class="form-control" id="percentage" ng-model="calendarCtrl.activeEvent.percentage">
              <label for="description">Promotion Description:</label>
              <input type="text" class="form-control" id="description" ng-model="calendarCtrl.activeEvent.description">
              <!--<label for="products">Select The Product:</label>
              <select class="form-control" id="products" ng-model="calendarCtrl.activeEvent.promotion.product">
                  <option ng-repeat="x in calendarCtrl.products">{{x}}</option>
              </select>-->
              <!--<label for="course">Select The Course:</label>
              <select class="form-control" id="course" ng-model="calendarCtrl.activeEvent.promotion.course">
                  <option ng-repeat="x in calendarCtrl.courses">{{x.key}}</option>
              </select>-->
            </div>
          </td>
          <td>
            <p class="input-group" style="max-width: 250px">
              <input
                type="text"
                class="form-control"
                readonly
                uib-datepicker-popup="dd MMMM yyyy"
                ng-model="calendarCtrl.activeEvent.startsAt"
                is-open="calendarCtrl.activeEvent.startOpen"
                close-text="Close" >
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="calendarCtrl.toggle($event, 'startOpen', calendarCtrl.activeEvent)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
            <div
              uib-timepicker
              ng-model="calendarCtrl.activeEvent.startsAt"
              hour-step="1"
              minute-step="15"
              show-meridian="true">
            </div>
          </td>
          <td>
            <p class="input-group" style="max-width: 250px">
              <input
                type="text"
                class="form-control"
                readonly
                uib-datepicker-popup="dd MMMM yyyy"
                ng-model="calendarCtrl.activeEvent.endsAt"
                is-open="calendarCtrl.activeEvent.endOpen"
                close-text="Close">
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="calendarCtrl.toggle($event, 'endOpen', calendarCtrl.activeEvent)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
            <div
              uib-timepicker
              ng-model="calendarCtrl.activeEvent.endsAt"
              hour-step="1"
              minute-step="15"
              show-meridian="true">
            </div>
          </td>
          <td>
            <button
              class="btn btn-primary"
              ng-click="calendarCtrl.saveEvent()">
              Save
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              ng-click="calendarCtrl.events.splice($index, 1)">
              Delete
            </button>
            
          </td>
      </tr>
    </tbody>

  </table>
</div>