<div class="container">
    <div class="btn-group grid-buttons">
        <button ng-click="vmReport.exportCsv()" class="btn btn-default"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export CSV</button>
        <button ng-click="vmReport.exportPdf()" class="btn btn-default"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export PDF</button>
        <button ng-click="vmReport.loadDataToGrid()" class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>
        <button ng-click="vmReport.toggleFiltering()" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
    </div>
    <div ui-grid="vmReport.gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-exporter class="grid"></div>
</div>