<div class="container">
    <div>
        <label>Which columns should we export?</label>
        <select ng-model="vmReport.export_column_type">
                <option value="all">All</option>
                 <option value="visible">Visible</option>
            </select>

        <label>Which rows should we export?</label>
        <select ng-model="vmReport.export_row_type">
                <option value="all">All</option>
                <option value="visible">Visible</option>
                <option value="selected">Selected</option>
            </select>

        <label>What format would you like?</label>
        <select ng-model="vmReport.export_format">
                <option value="csv">CSV</option>
                <option value="pdf">PDF</option>
            </select>

        <button ng-click="vmReport.export()">Export</button>
        <div class="custom-csv-link-location">
            <label>Your CSV will show below:</label>
            <span class="ui-grid-exporter-csv-link">&nbsp</span>
        </div>
    </div>


    <div ui-grid="vmReport.gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-exporter class="grid"></div>
</div>